@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Puhui-Bold";
    src:url("@/assets/fonts/puhui/AlibabaPuHuiTi-3-85-Bold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Puhui-Regular";
    src:url("@/assets/fonts/puhui/AlibabaPuHuiTi-2-55-Regular.woff2") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Puhui-Medium";
    src:url("@/assets/fonts/puhui/AlibabaPuHuiTi-3-65-Medium.woff2") format("truetype");
    font-display: swap;
}
.blue-color{
    color:#1677FF;
}


